h1 {
  font-size: 3rem;
}
.pageTop {
  margin-top: 10rem;
 }
h3.shopsText {
  margin-top: 2rem;
}
.shopsText span {
  font-size: medium;
  color: #3702f4;
  font-style: normal;
}
p.shopsText {
  font-style: italic;
}
.shopsImg {
  width: 100%;
  max-height: 28rem;
  object-fit: cover;
  border-radius: 1rem;
}
